#father-container-cards {
    width: 75%;
}

#container-cards {
    height: 14em;
    border-radius: 11px;
}

.button-sound {
    width: 160px;
    border-radius: 21px
}

.button-selected {
    background-color: #016529 !important;
}

#btn-ok {
    color: #7F451D;
    box-shadow: #7F451D 0px 4px;
}

@media (max-width: 705px) {
    #father-container-cards p {
        font-size: 1em !important;
    }
}

@media (max-width: 480px) {
    #father-container-cards p {
        font-size: 0.7em !important;
    }
}

.radius-1 {
    border-radius: 0.8rem;
}

.bg-image {
    background-image: url('./assets/img/bg.svg');
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}

img {
    object-fit: contain;
}